@tailwind base;
@tailwind components;
@tailwind utilities;

/* Optional global body styles */
body {
 
  font-family: 'Press Start 2P', monospace;
 
  color: white; /* default text color */
}


:root {
  --c1: hsl(219, 79%, 66%);
  --c2: hsl(319, 100%, 60%);
  --c3: hsl(266, 49%, 25%);
  --c4: hsl(60, 82%, 58%);
  --c5: hsl(0, 67%, 55%);
  --c6: hsl(213, 96%, 11%);
  --c2hsl: 319, 100%, 60%;
}

